body{font-family: 'Hammersmith One', sans-serif;
        font-family: 'Poppins', sans-serif;
        background-color: #F3F1FF;}
main{display: flex;
     flex-direction: column;
     align-items: center;}

.container{background-color: #ffffff;
           width:872px;
           padding:30px;
           border-radius:5px;
           margin-top: 21px;}
hr{border:1px solid #d1d1d1;
   margin-bottom: 30px;}
.section-title{color:rgb(80, 80, 240);
               font-size: 24px;
               margin-top:3px;}
.top-players{margin-bottom:30px;}
.players{display: grid;
         /* grid-template-columns: repeat(3,1fr); */
         grid-template-columns: 1fr 1fr 1fr;
         grid-row-gap:30px;}
.player{display:flex;
        align-items:center;}
.player-name{padding:16px;
             font-size: 18px;}
.player img{width:56px;
            height:56px;}
/* Top blogs styles */
.blogs{display:grid;
       grid-template-columns: repeat(2, 1fr);
       grid-row-gap:26px;}
.blog{display:flex;}
.blog .thumbnail img{width: 177px;
                     height:117px;}
.blog-info{margin-left:16px;}
.blog-title{font-size:20px;}
.author{color:#9f9f9f;
        font-size:16px;}
.author a{text-decoration: none;
          color:#2f9fef;
          font-size:16px;
        }
/* course style */
.courses{display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap:24px;}
.course .course-banner img{width:224px;
                           height:104px;}
.course-info{display: flex;
             justify-content: space-between;
             align-items:center;}
.fa-star{font-size:12px;}                          
.fa-star.filled{color:gold;}
.fa-star.empty{color:gray;}
@media only screen and (max-width:688px){
        .container{width:100%;}
        .players, .blogs, .courses{grid-template-columns: repeat(1, 1fr);}
        .player, .blog{flex-direction: column;}
}